################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CampaignManagement/bin/Debug/net8.0/appsettings.json
